html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    .columns-container {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .column {
      flex: 1;
      border: 1px solid #000;
      box-sizing: border-box;
      position: relative;
      height: 100%;
      min-width: 50px;
      display: flex;
      flex-direction: column;
    }

    .column.minimized {
      flex: 0 0 50px;
      padding: 0;
    }

    .column.minimized .side-text {
      display: block;
    }

    .column.minimized .column-header {
      display: none;
    }

    .column.hidden {
      display: none;
    }

    .column-content {
      overflow: auto;
      flex: 1;
    }

    .column-content.hidden {
      display: none;
    }

    .column-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      background-color: #f0f0f0;
      border-bottom: 1px solid #000;
    }

    .button.hidden {
      display: none;
    }

    .side-text {
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: rotate(-90deg) translate(-50%, -50%);
      transform-origin: left top;
      white-space: nowrap;
      background-color: #f0f0f0;
      padding: 5px;
      border: 1px solid #000;
      cursor: pointer;
    }

    #column1 {
      background-color: red;
    }

    #column2 {
      background-color: green;
    }

    #column3 {
      background-color: blue;
    }

    #column4 {
      background-color: yellow;
    }